<%- include('../partials/header') %>
<body class="billFormPages newBillFormPage">
  <section class="billFormsPageJumbo jumbotron text-center">
    <form action="/billProducts" class="formClass addBillForm">
      <div class="billContainer container"></div>
      <button class="btn btn-primary col-md-3 col-sm-6 addBillProductsButton" type="button">Add a Product</button>
      <div>
        <button type="submit" class="btn btn-primary btn-style-one billProductsSubmitButtons">Add Bill</button>
      </div>
    </form>
  </section>

  <%- include('../partials/footer') %>
</body>
