<%- include('./partials/header') %>
<body class="indexPage">
  <section class="jumbotron text-center indexPageHeader">
    <div class="container">
      <h1 class="indexTitle flux">El Rawda El Shareefa Mall</h1>
      <p class="indexSubtitle lead">
        " Welcome to El Rawda El Shareefa Malls for selling the most luxurious furniture with the best prices "
      </p>
      <p>
        <a href="/products" class="bproducts btn btn-primary my-2 indexPageButtons ibOne">Products</a>
        <a href="/bills" class="bbills btn btn-secondary my-2 indexPageButtons ibTwo">Bills</a>
      </p>
    </div>
  </section>
  <%- include('./partials/footer') %>
</body>
