<%- include('./partials/header') %>
<body class="indexPage">
  <section class="jumbotron text-center indexPageHeader">
    <div class="container">
      <h1 class="indexTitle flux">The Furniture Store</h1>
      <p class="indexPageButtons">
        <a href="/products" class="btn btn-primary btn-style-one bproducts">Products</a>
        <a href="/bills" class="btn btn-secondary btn-style-one bbills">Bills</a>
      </p>
    </div>
  </section>
  <%- include('./partials/footer') %>
</body>
