@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: "#e8e9e9"
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css?family=Ubuntu');



// products page

.productsCards {
    font-family: 'Ubuntu', sans-serif;
}

.productsCards h1 {
    font-size: 1.2rem;
    text-transform: capitalize;
}

.card {
    position: relative;
    border-radius: 0.5em;
    box-shadow: 0 0.1em 0.2em rgba(0,0,0,0.3);
    height: 20em;
    width: 24em;
    margin: 2em;
    overflow: hidden;
}

.productsCards .card > figure {
    width: 90%;
    margin: 1em auto 0 auto;
}

.productsCards .card > figure > img {
    width: 100%;
}

.productsCards .details {
    background-color: #FFF;
    border-radius: 0.7em;
    padding: 0.5em;
    position: absolute;
    top: 85%;
    width: 100%;
    transition: box-shadow .3s ease-in-out,
                top .3s ease-in-out;
}

.productsCards .card:hover .details {
    box-shadow: 0 -0.1em 0.2em rgba(0,0,0,0.3);
    top: 40%;
}

.productsCards .details > .min-details {
    margin-bottom: 1em;
}

.productsCards .details > .min-details {
    display: flex;
    justify-content: space-between;
}

/* .productsCards .btn {
    background-color: #192a56;
    border-radius: 0.2em;
    color: #FFF;
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    width: 100%;
    transition: box-shadow .3s ease-in-out,
                transform .3s ease-in-out;
}

.productsCards .btn:hover {
  box-shadow: 0 5px 10px rgba(0,0,0,.3);
  transform: translateY(-2px);
} */

