<%- include('../partials/header') %>
<body class="billFormPages newBillFormPage">
  <section class="billFormsPageJumbo jumbotron text-center">
    <h1 class="billFormsPageTitle">Add a bill</h1>
    <form action="/billProducts" class="formClass addBillForm">
      <div class="billContainer container"></div>
      <div>
        <button type="submit" class="btn btn-primary billProductsSubmitButtons">Add bill</button>
        <button class="btn btn-primary addBillProductsButton" type="button">Add</button>
      </div>
    </form>
  </section>

  <%- include('../partials/footer') %>
</body>
